@model StorageViewModel

<div class="modal fade" id="modalupsertbin" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Bin</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="UpsertBin" method="post">
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input name="BinCode" hidden />

                    <div class="mb-3 form-group required">
                        <label class="control-label">Level Code</label>
                        <input asp-for="invStorageCode.InvStorageBin.LevelCode" class="form-control" required readonly />
                        <span asp-validation-for="invStorageCode.InvStorageBin.LevelCode" class="text-danger"></span>
                    </div>

                    <div class="mb-3 form-group required">
                        <label class="control-label">Category</label>
                        <select asp-for="invStorageCode.StorageCategoryId" class="form-control select2" data-bs-toggle="select2" asp-items="@ViewBag.StorageCategoryId" required>
                            <option selected disabled>Select...</option>
                        </select>
                        <span asp-validation-for="invStorageCode.StorageCategoryId" class="text-danger"></span>
                    </div>

                    <div class="mb-3 form-group required">
                        <label class="control-label">Size</label>
                        <select asp-for="invStorageCode.SizeCode" class="form-control select2" data-bs-toggle="select2" asp-items="@ViewBag.SizeCode" required>
                            <option selected disabled>Select...</option>
                        </select>
                        <span asp-validation-for="invStorageCode.SizeCode" class="text-danger"></span>
                    </div>

                    <div class="mb-3 form-group required">
                        <label class="control-label">Status</label>
                        <select asp-for="invStorageCode.InvStorageBin.Flag" class="form-control select2" data-bs-toggle="select2" asp-items="Html.GetEnumSelectList<FlagEnum>()">
                        </select>
                        <span asp-validation-for="invStorageCode.InvStorageBin.Flag" class="text-danger"></span>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>