@model StorageViewModel

<div class="text-end mb-4">
    <a class="btn btn-outline-primary btn-pill btn-insertcolumn" data-bs-toggle="modal" data-bs-target="#modalupsertcolumn">Add Column</a>
</div>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr class="text-center">
                <th>
                    Action
                </th>
                <th>
                    Code
                </th>
                <th class="text-center">
                    Status
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.invStorageRow.InvStorageColumns)
            {
                <tr>
                    <td class="text-center">
                        <button type="button" class="btn btn-outline-tertiary btn-sm" data-bs-toggle="dropdown"><i class="fas fa-fw fa-ellipsis-h"></i></button>
                        <ul class="dropdown-menu">
                            <li><button class="dropdown-item btn-updatecolumn" data-id="@item.ColumnCode" data-bs-toggle="modal" data-bs-target="#modalupsertcolumn">Edit</button></li>
                        </ul>
                    </td>
                    <td class="text-nowrap">
                        @Html.DisplayFor(modelItem => item.ColumnName)
                    </td>
                    <td class="text-center">
                        @if (item.Flag == FlagEnum.Active)
                        {
                            <span class="badge bg-success"> @Html.DisplayFor(modelItem => item.Flag)</span>
                        }
                        else
                        {
                            <span class="badge bg-danger"> @Html.DisplayFor(modelItem => item.Flag)</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>