
@model RepackAndRelableViewModel

<div class="card">
    <div class="card-header border-bottom">
        <h5 class="card-title"><strong>Repacking</strong></h5>
    </div><br />
    <div class="card-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group mb-3 required div-invRepacking_DOProductId">
            <label lass="control-label">DO Number</label>
            <div class="input-group">
		        <input type="text" asp-for="invRepacking.DOProductId" class="form-control">
                <button type="button" class="btn btn-outline-primary" id="btn-donumber"><i class="align-middle fas fa-fw fa-search"></i></button>
	        </div>
            <span asp-validation-for="invRepacking.DOProductId" class="text-danger"></span>
            <span class="span-notfound" class="text-danger">Not Found!</span>
        </div>
        <div class="form-group mb-3 required level2">
            <label class="control-label">Product</label>
            <select  asp-for="invRepacking.ProductId" class ="form-control page1" asp-items="ViewBag.ProductId" required>
                <option selected disabled>Select...</option>
            </select>
            <span asp-validation-for="invRepacking.ProductId" class="text-danger"></span>
        </div>
        <div class="form-group mb-3 required level2">
            <label lass="control-label">Quantity</label>
            <input asp-for="invRepacking.Quantity" min="1" class="form-control" />
            <span asp-validation-for="invRepacking.Quantity" class="text-danger"></span>
        </div>
        <div class="form-group mb-3 required level2">
            <label lass="control-label">Repacked By</label>
            <input asp-for="invRepacking.RepackedBy"  class="form-control" />
            <span asp-validation-for="invRepacking.RepackedBy" class="text-danger"></span>
        </div>
    </div>
</div>