body{
    font-size: 14px;
}

.form-group.required .control-label:after {
    content: "*";
    color: red;
}

.table-hover tbody tr {
    cursor: pointer;
}

/*div .cells {
    max-height: 75px;
    min-height: 75px;
}*/
