@model UserViewModel

@{
    ViewData["Title"] = "Users";
    ViewData["MenuKey"] = "Security";
}

<div class="card">
    <div class="card-header border-bottom">
        <div class="d-flex align-items-center">
            <div class="flex-grow-1 ps-3">
                <h5 class="card-title"><strong>Create new User</strong></h5>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="mb-3 form-group required">
                    <label class="control-label">UserName</label>
                    <input asp-for="UserName" class="form-control" autocomplete="off" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="mb-3 form-group required">
                        <label class="control-label">First Name</label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="mb-3 form-group required">
                        <label class="control-label">Last Name</label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="mb-3 form-group required">
                        <label class="control-label">Email</label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="mb-3">
                        <label class="control-label">Phone Number</label>
                        <div class="input-group">
                            <span class="input-group-text">+62</span>
                            <input asp-for="PhoneNumber" class="form-control" />
                        </div>
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="sol-12 col-sm-4">
                    <div class="mb-3 form-group required">
                        <label class="control-label">Profile</label>
                        <select asp-for="ProfileId" id="profileid" class="form-control select2" data-bs-toggle="select2" asp-items="ViewBag.ProfileId">
                            <option disabled selected>Select...</option>
                        </select>
                        <span asp-validation-for="ProfileId" class="text-danger"></span>
                    </div>
                </div>
                <div class="sol-12 col-sm-4">
                    <div class="mb-3 form-group required">
                        <label class="control-label">Jabatan</label>
                        <select asp-for="JobPosId" class="form-control select2" data-bs-toggle="select2" asp-items="ViewBag.JobPosId">
                            <option disabled selected>Select...</option>
                        </select>
                        <span asp-validation-for="JobPosId" class="text-danger"></span>
                    </div>
                </div>
                <div class="sol-12 col-sm-4">
                    <div class="mb-3 form-group required">
                        <label class="control-label">Warehouse</label>
                        <select asp-for="HouseCode" class="form-control select2" data-bs-toggle="select2" asp-items="ViewBag.HouseCode">
                            <option disabled selected>Select...</option>
                        </select>
                        <span asp-validation-for="HouseCode" class="text-danger"></span>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label asp-for="ProfileImage" class="control-label"></label>
                        <div class="custom-file">
                            <input asp-for="ProfileImage" type="file" class="form-control custom-file-input" id="IdFormPhotoProfile"
                                    accept=".jpg" onchange="document.getElementById('idFormProfilePre').src = window.URL.createObjectURL(this.files[0])" />
                            <span asp-validation-for="ProfileImage" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="text-center">
                        <img id="idFormProfilePre" src="~/img/avatars/noimage.png" alt="logo Image" width="60" height="60" style="border:1px;margin-top:20px" />
                    </div>
                </div>
            </div>
            <br />
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" /> &nbsp;
                <a asp-action="Index" class="btn btn-dark">Back to List</a>
            </div>
        </form>
    </div>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}