@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
	<h1 class="display-1 fw-bold">419</h1>
	<p class="h1">Page Expired.</p>
	<p class="h2 fw-normal mt-3 mb-4">Your session has been Expired.</p>
	<a href="~/Home/Login" class="btn btn-primary btn-lg">Return to Sign In</a>
</div>
