@{
    ViewData["Title"] = "Page Not Allowed";
}

<div class="text-center">
	<h1 class="display-1 fw-bold">405</h1>
	<p class="h1">Page Not Allowed.</p>
	<p class="h2 fw-normal mt-3 mb-4">You can't access this page.</p>
	<a href="~/Dashboards/Index" class="btn btn-primary btn-lg">Return to Home</a>
</div>
