@{
    ViewData["Title"] = "Unauthorized";
}

<div class="text-center">
	<h1 class="display-1 fw-bold">401</h1>
	<p class="h1">Page Unauthorized.</p>
	<p class="h2 fw-normal mt-3 mb-4">Unauthorized.</p>
	<a href="~/Home/Login" class="btn btn-primary btn-lg">Return to Sign In</a>
</div>
