@{
    ViewData["Title"] = "Page Under Construction";
}

<div class="text-center">
	<h1 class="display-1 fw-bold">405</h1>
	<p class="h1">Page Under Construction.</p>
	<p class="h2 fw-normal mt-3 mb-4">This Page Under Construction.</p>
	<a href="~/Dashboards/Index" class="btn btn-primary btn-lg">Return to Home</a>
</div>
