<div class="modal fade" id="NotArrived" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Not Arrived Process - <span id="ProductName"></span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="NotArrived" method="post">
                <div class="modal-body m-3">
                    <input name="DOProductId" hidden />
                    <div class="form-group required">
                        <label class="control-label">Qty Not Arrived</label>
                        <input name="QtyNotArrived" class="form-control" type="number" required min="1" />
                        <span class="text-danger field-validation-valid" data-valmsg-for="QtyNotArrived" data-valmsg-replace="true"></span>
                    </div><br />

                    <div class="form-group required">
                        <label class="control-label">Description</label>
                        <textarea rows="2" name="NoteNotArrived" class="form-control" required></textarea>
                        <span class="text-danger field-validation-valid" data-valmsg-for="NoteNotArrived" data-valmsg-replace="true"></span>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="text-center">
                        <button class="btn btn-primary btn-pill" type="submit">Save</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>