@model UserLoginViewModel

@{
    ViewData["Title"] = "Forgot Password";
}

<form method="post">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-6 text-center">
                    <img src="~/img/avatars/wms.jpg" alt="Linda Miller" class="img-fluid" width="132" height="132" />
                </div>
                <div class="col-6 text-center">
                        <img src="~/img/avatars/ncslogo.jpg" alt="Linda Miller" class="img-fluid" width="132" height="132" />
                </div>
            </div>
            <br />
            <div class="text-center">
                <h4>RESET YOUR PASSWORD!</h4>
                <small>Please enter username. We will send a password reset link to your email</small>
            </div>
        </div>
        <div class="card-body">

            <div class="form-floating mb-3">
				<input class="form-control" asp-for="username" placeholder="username">
				<label for="username">Username</label>
                <span asp-validation-for="username" class="text-danger"></span>
			</div>

        </div>
        <div class="card-footer">
            <div class="text-center mb-3">
                <button type="submit" class="btn btn-lg btn-primary">Go!</button>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}