
@model PurchaseOrderViewModel

<div class="card">
    <div class="card-header border-bottom">
        <h5 class="card-title"><strong>Tenant's Products</strong></h5>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped" style="font-size:13px" id="ListProductofTenant">
                <thead class="text-center">
                    <tr>
                        <th>
                            Picture
                        </th>    
                        <th>
                            Product
                        </th>  
                        <th>
                            Zone
                        </th>
                        <th>
                            Size
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody class="overflow-auto">

                </tbody>
            </table>
        </div>
    </div>
</div>
