@model PickingRouteViewModel

<form asp-action="Create">
    <partial name="CreatePickingRoute" />

    <div class="progress mb-3">
		<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: @Model.invPickingRouteColumns.Count()%"
			aria-valuenow="@Model.invPickingRouteColumns.Count()" aria-valuemin="0" aria-valuemax="@Model.invStorageColumns.Count()">@Model.invPickingRouteColumns.Count()</div>
	</div>

    <div class="row">
        <div class="col-12 col-sm-6">
            <partial name="ColumnList" />
        </div>
        <div class="col-12 col-sm-6">
            <partial name="CreatePickingRouteColumn" />
        </div>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-warning" data-bs-toggle="tooltip" data-bs-placement="top" title="Please select any column"><i class="align-middle me-2 fas fa-fw fa-angle-double-right" disabled></i>Rutekan</button>
    </div>    
</form>
    

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(function(){ 
            $('.table').DataTable({
                "lengthMenu": [5, 10],
                "pageLength": 5
            });

            if($('#invPickingRoute_RouteCode').val() != "" && $('#invPickingRoute_Name').val() != ""){
                $('input[name*="invPickingRouteColumn.RouteCode"]' ).val($('#invPickingRoute_RouteCode').val());
            }

            if($('input[name*="invPickingRouteColumn.RouteCode"]' ).length < 1){
                $('button[type="submit"]').hide();
            }
        });
    </script>

    <script>
        $("#invPickingRoute_RouteCode").change(function(){
            $('input[name*="invPickingRouteColumn.RouteCode"]' ).val($('#invPickingRoute_HouseCode').val()+'-'+$(this).val());
        });

        $('input[type=radio]').change(function() {
            $('button[type="submit"]').prop('disabled', false);
        });
    </script>
}