@model OutSalesOrder


<div>
    <partial name="DetailTrackingWArehouse">
</div>
<div class="row">
    <div class="col-12 col-sm-5">
        <partial name="DetailSalesOrder">
    </div>
    <div class="col-12 col-sm-7">
        <partial name="DetailSalesOrderProduct">
    </div>
</div>