@model PurchaseOrderViewModel

<div class="modal fade" id="ModalProductApproval" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <form asp-action="ProductApproval" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Product Approval</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <input asp-for="IncRequestPurchaseProduct.RequestProductId" hidden />
                    <input asp-for="IncRequestPurchaseProduct.Status" hidden />

                    <div class="row Quantity">
                        <div class="col-12 col-sm-6">
                            <div class="mb-3 form-group">
                                <label class="control-label">Requested Quantity</label>
                                <input asp-for="IncRequestPurchaseProduct.Quantity" class="form-control" readonly>
                                <span asp-validation-for="IncRequestPurchaseProduct.Quantity" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="mb-3 form-group required">
                                <label class="control-label">Approved Quantity</label>
                                <input asp-for="IncRequestPurchaseProduct.ApprovedQuantity" class="form-control" min="1">
                                <span asp-validation-for="IncRequestPurchaseProduct.ApprovedQuantity" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                     
                    <div class="mb-3 form-group required">
                        <label class="control-label">Memo</label>
                        <textarea asp-for="IncRequestPurchaseProduct.ApprovedMemo" class="form-control" required></textarea>
                        <span asp-validation-for="IncRequestPurchaseProduct.ApprovedMemo" class="text-danger"></span>
                    </div>
               
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Submit" class="btn btn-primary"/>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>