@model UserChangePasswordViewModel

@{
    Layout = "~/Views/Shared/_LayoutCenter.cshtml";  
    ViewData["Title"] = "Change Password";
}

<div class="card">
    <div class="card-body">
        <div class="m-sm-4">
            <div class="text-center">
                <img src="~/img/avatars/@Model.ProfileImageUrl" alt="@Model.UserName" class="img-fluid" width="132" height="132" /><br />
                Hello <strong>@Model.UserName</strong>!!<br />
                Please change your password!
            </div>
            <br />
            <form asp-action="ChangePassword" method="post">
                <input asp-for="UserId" hidden/>
                <input asp-for="UserName" hidden/>
                
                <div class="mb-3 form-group required">
                    <label class="control-label">Code</label>
                    <input asp-for="NewPassword"  type="password" class="form-control"/>
                    <small class="form-text text-muted">Use 6 or more characters with a mix of letters, numbers & symbols</small>
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>

                <div class="mb-3 form-group required">
                    <label class="control-label">Code</label>
                    <input asp-for="ConfirmPassword" type="password" class="form-control"/>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="text-center mt-3">
                    <button type="button" class="btn btn-lg btn-primary" id="btn-ChangePassword">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}